body {
	max-width: 1200px;
	margin: auto;
	padding-bottom: 10px;
	font-family: 'Roboto', 'Source Code Pro', monospace;
	font-size: 16px;
}

#header {
	padding: 10px;
	color:white;
	background-color: #1e1e1e;
}

#title {
	font-size: 32px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#title-text {
	color:white;
	margin-left:10px;
}

#logo {
	height: 40px;
}

#logo img {
	height: 40px;
}

#navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #FFFFFF;
	border-top: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
}

#navbar-left {
	display: flex;
	flex-direction: row;
}

#navbar-right {
	display: flex;
	flex-direction: row;
}

.nav-button {
	color:#7d7c7c;
	display:block;
	padding: 10px;
	border-right: 1px solid #c5c5c5;
}

.no-left-border {
	border-right: 0px;
}

#arrow-right {
	height: 41px;
}

#arrow-right > img {
	height: 41px;
}

#content {
	padding-left: 10px;
	padding-right: 10px;
}

.navbar-link {
	text-decoration:none;
	color:black;
}

.navbar-link:hover {
	color:#ff6363;
}

#header-tag-name {
	display:flex;
	flex-direction: row;
}

#navbar-buttons-div {
	display:flex;
}

a {
	text-decoration:none;
	color:black;
}

a:hover {
	color:#ff6363;
}

.upvoted-color {
	color: #ff6363
}

.cursor-pointer {
	cursor: pointer;
}

#footer {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
}

#message-prompt-box {
	display: none;
	justify-content: center;
    padding: 10px;
    position: fixed;
    top: 90%;
	width: 100%;
	margin-bottom: 10px;
}

#message-prompt-box > div {
	border: 1px solid black;
    padding: 10px;
	color: green;
	border-color: darkgreen;
	background-color: palegreen;
    border-radius: 8px;
}

#message-prompt-box-fail {
    display: none;
	justify-content: center;
    padding: 10px;
    position: fixed;
    top: 90%;
	width: 100%;
	margin-bottom: 10px;
}

#message-prompt-box-fail > div {
	border: 1px solid black;
    padding: 10px;
    color: red;
    border-color: darkred;
    background-color: #f0acac;
    border-radius: 8px;
}

.hr-top {
	margin-bottom:0px;
	visibility: hidden;
}

.hr-bottom {
	margin-top:0px;
	visibility: hidden;
}

blockquote {
	margin-left: 20px;
    background-color: #e8e8e8;
    padding: 5px;
    margin-top: 5px;
    border-left: 4px solid #a6a6a6;
}

blockquote > p {
	margin: 0px;
}

#pinned-tags-div {
	/* padding: 5px; */
	font-size: 14px;
	color: #7d7c7c;
	display: flex;
	flex-wrap: wrap;
}

#pinned-tag-label {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #7d7c7c;
}

.pinned-tag-btn {
	border-left: 1px solid #7d7c7c;
	border-bottom: 1px solid #7d7c7c;
	/* border-right: 1px solid #7d7c7c; */
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.pinned-tags-filler {
	flex-grow: 1;
	border-left: 0;
}
.pinned-tag-btn > a{
	color: #7d7c7c;
	cursor: pointer;
}

.pinned-tag-btn > a:hover{
	color: #ff6363
}

.no-border-left-padding {
	border-left: 0px;
	padding-left: 0px;
}

@media (max-width : 600px) {
  #navbar {
	  flex-direction: column;
  }

  #navbar-left {
	  flex-direction: column;
  }

  #header-tag-name {
	  border-bottom: 1px solid #c5c5c5;
  }

  #navbar-buttons-div {
	  border-bottom: 1px solid #c5c5c5;
  }

  #navbar-right {
	  justify-content: space-between;
  }

  #navbar-right > a {
	  border: 0px;
  }

  #header-tag-name > a {
	  overflow: hidden;
	  text-overflow: ellipsis;
  }
}
