.indented-div {
	margin-left:10px;
	margin-bottom: 20px;
}

.delete-btn {
	color:red;
}

.add-btn {
	color:#8bc34a;
}

.reported-post-body {
	display:none;
	padding-left: 10px;
    background-color: antiquewhite;
}

.reported-comment-body {
	display: none;
	padding-left: 10px;
    background-color: antiquewhite;
}

#delete-posts-div {
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #1e1e1e;

}

.deleted-post-div {
	padding-top: 5px;
	font-size: 14px;
}
