.post-title-row {
	display: flex;
	padding-bottom: 10px;
}

#post-title-text {
	color: #2562dc;
}

.post-title-color {
	color: #2562dc;
}

.post-title-upvote {
	padding-right: 10px;
}

.cursor-pointer {
	cursor:	pointer;
}

.upvoted-color {
	color: #ff6363;
}

#post-body-row {
	display: flex;
}

#left-offset {
	padding-left: 0px;
}

#post-body-content {
	text-align: justify;
	font-size: 14px;
}

#post-body-content a {
	border-bottom: 1px dotted #1e1e1e;
}

#post-details-row {
	font-size: 12px;
	color: #808080;
	padding-top: 5px;
}

.comment-input-row {
	display:flex;
	padding-bottom: 10px;
}

.comment-input-row > div {
	width: 100%;
	margin-bottom: -20px;
}

.CodeMirror, .CodeMirror-scroll {
	height: 100px!important;
	min-height: 0px!important;
}

.comment-input-label {
	width: 8%;
}

/*.comment-input-input {
	width: 100%;
}*/

#comment-input-body {
	height: 100px;
	width: 100%;
}

.comment-row {
	border-left: 3px solid #c5c5c5;
	margin-bottom: 10px;

	/*display: flex;*/
}

.comment-row:hover {
	border-left: 3px solid #ffc1c1;
}


.comment-details {
	font-size: 12px;
	color: #808080;
	padding-bottom: 5px;
}

.comment-details-col {
	/*border-left: 1px solid #808080;*/
	padding: 10px;
	padding-left:10px;

}

.upvote-col {
	padding-top: 10px;
	padding-left:5px;
	margin-right: -5px;
	align-self: flex-start;
}

.reply-button {
	text-decoration:none;
	color:black;
}

.reply-button:hover {
	color:#ff6363;
	cursor: pointer;
}

.parent-reply-id {
	cursor: pointer;
}
#hover-reply-box {
	border: 1px solid #808080;
	display:none;
	background-color: white;
	padding: 10px;
	max-width: 900px;
}

.comment-body {
	font-size: 14px;
	text-align: justify;
}

.comment-body a {
	border-bottom: 1px dotted #1e1e1e;
}

.comment-body > p:first-child {
	margin-top: 0px;
}

.comment-body > p:last-child {
	margin-bottom: 0px;
}

#post-body-content > p:first-child {
	margin-top:0px;
}

#post-body-content > p:last-child {
	margin-bottom:0px;
}

.child-comments {
	margin-left:20px;
}

.comment-row-first {
	display:flex;
}

.deleted-comment {
	color: #808080;
}
