.post-div {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}

.post-title {
	padding-bottom: 5px;
	display:flex;
}

.post-title-upvote {
	padding-right:5px;
}

.post-details {
	font-size: 12px;
	color: #808080;
}

.post-title-text {
	color: #2562dc;
}
