.post-row {
	display:flex;
	padding-bottom: 10px;
}

.post-label {
	width: 10%;
}

.post-input {
	width: 50%;
}

#post-body-mde {
	width: 50%;
	margin-bottom: -15px;
}

.text-area-height {
	height: 100px;
}

.small-text {
	font-size: 14px;
}

@media (max-width : 600px) {
	.post-row {
		flex-direction: column;
	}

	.post-input {
		width: 100%;
	}

	.post-label {
		width: 100%;
		padding-bottom: 5px;
	}

	#post-body-mde {
		width: 100%;
	}
}
