#auth-div {
	display:flex;
	justify-content: space-between;
}

#login-div {
	width:50%;
}

#registration-div {
	width: 50%;
	padding-left:20px;
	border-left: 1px solid #808080;
}

.post-row {
	display:flex;
	padding-bottom: 10px;
}

.post-label {
	width: 20%;
}

.post-input {
	width: 50%;
}

#post-body {
	height: 100px;
}

@media (max-width : 600px) {
	#auth-div {
		flex-direction: column;
	}

	#login-div {
		width: 100%;
		border-bottom: 1px solid #808080;
	}

	#registration-div {
		padding-top:10px;
		width: 100%;
		padding-left:0px;
		border-left: 0px;
	}

	.post-row {
		flex-direction: column;
	}

	.post-label {
		width: 100%;
	}

	.post-input {
		width: 100%;
	}

}
